.navLogo{
    position: relative;
    color:  var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    font-family: 'Dancing Script', cursive;
}

.featured-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section-title > a {
    font-size: 4rem;
}

.product-grid-container{
    gap: 20px;
    justify-content: center;
}
