.bgPosition {
    background-image: url("../../assets/background/1.jpg");
    background-color: rgba(54, 36, 42, 0.9);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.navLogo{
    position: relative;
    color:  var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    font-family: 'Dancing Script', cursive;

}

.formContainer{
    transition: 1s;
    position: absolute;
    max-width: 350px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: blur(0);
    z-index: 101;
    background-color: #f6f6f6b7;   
    padding: 2rem;
    border-radius: 1rem;
}

.formContainer.animate{
    transform: translate(-50%, -50%) translateY(10%);
    opacity: 0;
    filter: blur(3px);
}
  
.formContainer .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
  
.formContainer .form h2{
    color: var(--title-color);
    font-weight: 500;
    letter-spacing: 0.1em;
}
  
.formContainer .form .inputBox{
    font-size: 0.8rem;
    position: relative;
    max-width: 250px;
    width: 100%;
}
  
.formContainer .form .inputBox input,
.formContainer .form .inputBox select{
    padding: 12px 10px 12px 58px;
    border: none;
    width: 100%;
    background-color: var(--body-color);
    border: 1px solid rgba(0,0,0,0.1);
    color: var(--text-color);
    font-weight: 300;   
    border-radius: 25px;
    font-size: 1em;
    transition: 0.5s;
    outline: none;
}
  
.formContainer .form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 58px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: var(--title-color-dark);
}
  
.formContainer .form .inputBox input:valid ~ span,
.formContainer .form .inputBox input:focus ~ span{
    color: var(--minor-color);
    border: 1px solid var(--minor-color);
    background-color: var(--body-color);
    transform: translateX(50px) translateY(-8px);
    font-size: 0.7em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}
  
.formContainer .form .inputBox input:valid,
.formContainer .form .inputBox input:focus{
    border: 1px solid var(--minor-color);
}
  
.formContainer .form .inputBox i{
    position: absolute;
    top: 13px;
    left: 20px;
    width: 25px;
    padding: 2px 0;
    padding-right: 25px;
    color: var(--minor-color);
    border-right: 1px solid var(--minor-color);
}

.formContainer .form .primaryButton{
    position: relative;
    width: 100%;
    padding: 0 1rem;
}

.formContainer .form .primaryButton input[type="submit"]{
    background-color: var(--minor-color);
    color: #18191a;
    max-width: 250px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    padding: 4%;
    margin-top: 10px;
}
  
.formContainer .form p{
    color: var(--text-color);
    font-size: 0.75em;
    font-weight: 300;
}

.successPopup {
    position: fixed;
    bottom: 20px;
    left: -200px; 
    background-color: var(--minor-color);
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideInRight 1s ease-out forwards, slideStay 1s ease-out 1s forwards, slideOutLeft 1s ease-out 2s forwards;
}
  
.successPopup span {
    display: block;
    margin-bottom: 0.5rem;
}

.errorPopup {
    position: fixed;
    bottom: 20px;
    left: -200px; 
    background-color:#c0392b;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideInRight 1s ease-out forwards, slideStay 1s ease-out 1s forwards, slideOutLeft 1s ease-out 2s forwards;
}
  
.errorPopup span {
    display: block;
    margin-bottom: 0.5rem;
}

@keyframes slideInRight {
    from {
      left: -200px;
    }
    to {
      left: 20px;
    }
}
  
@keyframes slideStay {
    from {
      left: 20px; 
    }
    to {
      left: 20px;
    }
}
  
@keyframes slideOutLeft {
    from {
      left: 20px;
    }
    to {
      left: -200px;
    }
}