.shopContainer{
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.contentShopContainer{
    /* background-color: red; */
    width: 70vw;
    justify-content: center;
}

.sidebarShopContainer{
    /* background-color: blue; */
    width: 20vw;
    padding: 0rem 3rem;
}

.productGridContainer{
    gap: 1rem;
}