
.formContainer{
    transition: 1s;
    position: absolute;
    max-width: 350px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: blur(0);
    z-index: 101;
    background-color: #f6f6f6cc;   
    padding: 2rem;
    border-radius: 1rem;
}

.navLogo{
    position: relative;
    color:  var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font-size);
    font-family: 'Dancing Script', cursive;

}

.formContainer.animate{
    transform: translate(-50%, -50%) translateY(10%);
    opacity: 0;
    filter: blur(3px);
}
  
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
  
.form h2{
    color: var(--title-color);
    font-weight: 500;
    letter-spacing: 0.1em;
}
  
.form .inputBox{
    font-size: 0.8rem;
    position: relative;
    max-width: 250px;
    width: 100%;
}
  
.form .inputBox input,
.form .inputBox select{
    padding: 12px 10px 12px 58px;
    border: none;
    width: 100%;
    background-color: var(--body-color);
    border: 1px solid rgba(0,0,0,0.1);
    color: var(--text-color);
    font-weight: 300;   
    border-radius: 25px;
    font-size: 1em;
    transition: 0.5s;
    outline: none;
}
  
.form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 58px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: var(--title-color-dark);
}

.form .checkbox{
    font-size: 0.8rem;
    position: relative;
    max-width: 250px;
    width: 100%;
    padding: 0 0 0 18px;
}

.form .checkbox label{
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: var(--title-color-dark);
}
  
.form .inputBox input:valid ~ span,
.form .inputBox input:focus ~ span{
    color: var(--minor-color);
    border: 1px solid var(--minor-color);
    background-color: var(--body-color);
    transform: translateX(50px) translateY(-8px);
    font-size: 0.7em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}
  
.form .inputBox input:valid,
.form .inputBox input:focus{
    border: 1px solid var(--minor-color);
}
  
.form .inputBox i{
    position: absolute;
    top: 13px;
    left: 20px;
    width: 25px;
    padding: 2px 0;
    padding-right: 25px;
    color: var(--minor-color);
    border-right: 1px solid var(--minor-color);
}

.form .primaryButton{
    position: relative;
    width: 100%;
    padding: 0 1rem;
}

.form .primaryButton input[type="submit"]{
    background-color: var(--minor-color);
    color: #18191a;
    max-width: 250px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    padding: 4%;
    margin-top: 10px;
}
  
.form p{
    color: var(--text-color);
    font-size: 0.75em;
    font-weight: 300;
}

